
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

  header {
    background-color: #007bff80;
    color: aliceblue;
    padding: 20px 0;
    text-align: center;
  }

  header h1 {
    margin: 0;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 2px solid #ddd;
  }

  .sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar ul li {
    margin: 10px 0;
  }

  .content {
    padding: 20px;
  }

  .content h2 {
    margin-top: 0;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
  }

  .content section {
    margin-bottom: 20px;
  }

  .content h3 {
    margin: 10px 0 5px;
  }

  .content p,
  .content ul {
    margin: 0;
    line-height: 1.6;
  }

  .content ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
  }
  img{
    max-height: 300px;
    min-height: 100px;
    width:auto;
  }